<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lee yeon-gyeong portfolio</title>
    <link rel="stylesheet" href="../scss/vendors/swiper-bundle.min.css">
    <link rel="stylesheet" href="../scss/styles.css">
    <link rel="stylesheet" href="../scss/pages/index.css"><!--index CSS파일-->
    <script type="text/javascript" src="../js/vendors/jquery-3.7.1.min.js"></script>
    <script type="text/javascript" src="../js/vendors/swiper-bundle.min.js"></script>
    <script type="text/javascript" src="../js/index.js"></script><!--index JS파일-->
</head>
<body>
    <nav id="nav">
        <h1>Yeon-gyeong's Web Portfolio</h1>
        <ul>
            <li>HOME</li>
            <li>ABOUT</li>
            <li>PORTFOLIO</li>
            <li>CONTACT</li>
        </ul>
    </nav>
    <main id="home" data-content="sec01">
        <h1 class="title">TEST</h1>
        <div class="swiper-container swiper_top">
          <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="../img/index/index_slide01_1.jpg" alt=""></div>
                <div class="swiper-slide"><img src="../img/index/index_slide01_2.jpg" alt=""></div>
                <div class="swiper-slide"><img src="../img/index/index_slide01_3.jpg" alt=""></div>
                <div class="swiper-slide"><img src="../img/index/index_slide01_4.jpg" alt=""></div>
                <div class="swiper-slide"><img src="../img/index/index_slide01_5.jpg" alt=""></div>
                <div class="swiper-slide"><img src="../img/index/index_slide01_6.jpg" alt=""></div>
                <div class="swiper-slide"><img src="../img/index/index_slide01_7.jpg" alt=""></div>
                <div class="swiper-slide"><img src="../img/index/index_slide01_8.jpg" alt=""></div>
          </div>
        </div>
        <div class="swiper-container swiper_mid">
          <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="../img/index/index_slide02_1.jpg" alt=""></div>
                <div class="swiper-slide"><img src="../img/index/index_slide02_2.jpg" alt=""></div>
                <div class="swiper-slide"><img src="../img/index/index_slide02_3.jpg" alt=""></div>
                <div class="swiper-slide"><img src="../img/index/index_slide02_4.jpg" alt=""></div>
                <div class="swiper-slide"><img src="../img/index/index_slide02_5.jpg" alt=""></div>
                <div class="swiper-slide"><img src="../img/index/index_slide02_6.jpg" alt=""></div>
                <div class="swiper-slide"><img src="../img/index/index_slide02_7.jpg" alt=""></div>
                <div class="swiper-slide"><img src="../img/index/index_slide02_8.jpg" alt=""></div>
          </div>
        </div>
        <div class="swiper-container swiper_btm">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="../img/index/index_slide03_1.jpg" alt=""></div>
                <div class="swiper-slide"><img src="../img/index/index_slide03_2.jpg" alt=""></div>
                <div class="swiper-slide"><img src="../img/index/index_slide03_3.jpg" alt=""></div>
                <div class="swiper-slide"><img src="../img/index/index_slide03_4.jpg" alt=""></div>
                <div class="swiper-slide"><img src="../img/index/index_slide03_5.jpg" alt=""></div>
                <div class="swiper-slide"><img src="../img/index/index_slide03_6.jpg" alt=""></div>
                <div class="swiper-slide"><img src="../img/index/index_slide03_7.jpg" alt=""></div>
                <div class="swiper-slide"><img src="../img/index/index_slide03_8.jpg" alt=""></div>
            </div>
        </div>
    </main>
    <section id="about" data-content="sec02" style="height: 500px;">
        ABOUT
    </section>
    <section id="portfolio" data-content="sec03" style="height: 500px;">
        PORTFOLIO
    </section>
    <section id="contact" data-content="sec04" style="height: 500px;">
        CONTACT
    </section>
</body>
</html>
