<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lee yeon-gyeong portfolio</title>
    <link rel="stylesheet" href="../scss/vendors/swiper-bundle.min.css">
    <link rel="stylesheet" href="../scss/styles.css">
    <link rel="stylesheet" href="../scss/pages/index.css"><!--index CSS파일-->
    <script type="text/javascript" src="../js/vendors/jquery-3.7.1.min.js"></script>
    <script type="text/javascript" src="../js/vendors/swiper-bundle.min.js"></script>
    <script type="text/javascript" src="../js/index.js"></script><!--index JS파일-->
</head>
<body>
    <nav id="nav">
        <h1>Yeon-gyeong's Web Portfolio</h1>
        <ul>
            <li>HOME</li>
            <li>ABOUT ME</li>
            <li>PORTFOLIO</li>
            <li>CONTACT</li>
            <li>
                <button type="button" class="btn_setting_toggle">DARK MODE</button>
            </li>
        </ul>
    </nav>
    <main id="home" data-content="sec01">
        <h1 class="title">
            LEE YEON-GYEONG<br>
            PORTFOLIO
        </h1>
        <button type="button" class="btn_type1">SCROLL DOWN</button>
        <div class="swiper-container swiper_top">
          <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="../img/index/index_slide01_1.jpg" alt=""></div>
                <div class="swiper-slide"><img src="../img/index/index_slide01_2.jpg" alt=""></div>
                <div class="swiper-slide"><img src="../img/index/index_slide01_3.jpg" alt=""></div>
                <div class="swiper-slide"><img src="../img/index/index_slide01_4.jpg" alt=""></div>
                <div class="swiper-slide"><img src="../img/index/index_slide01_5.jpg" alt=""></div>
                <div class="swiper-slide"><img src="../img/index/index_slide01_6.jpg" alt=""></div>
                <div class="swiper-slide"><img src="../img/index/index_slide01_7.jpg" alt=""></div>
                <div class="swiper-slide"><img src="../img/index/index_slide01_8.jpg" alt=""></div>
          </div>
        </div>
        <div class="swiper-container swiper_mid">
          <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="../img/index/index_slide02_1.jpg" alt=""></div>
                <div class="swiper-slide"><img src="../img/index/index_slide02_2.jpg" alt=""></div>
                <div class="swiper-slide"><img src="../img/index/index_slide02_3.jpg" alt=""></div>
                <div class="swiper-slide"><img src="../img/index/index_slide02_4.jpg" alt=""></div>
                <div class="swiper-slide"><img src="../img/index/index_slide02_5.jpg" alt=""></div>
                <div class="swiper-slide"><img src="../img/index/index_slide02_6.jpg" alt=""></div>
                <div class="swiper-slide"><img src="../img/index/index_slide02_7.jpg" alt=""></div>
                <div class="swiper-slide"><img src="../img/index/index_slide02_8.jpg" alt=""></div>
          </div>
        </div>
        <div class="swiper-container swiper_btm">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="../img/index/index_slide03_1.jpg" alt=""></div>
                <div class="swiper-slide"><img src="../img/index/index_slide03_2.jpg" alt=""></div>
                <div class="swiper-slide"><img src="../img/index/index_slide03_3.jpg" alt=""></div>
                <div class="swiper-slide"><img src="../img/index/index_slide03_4.jpg" alt=""></div>
                <div class="swiper-slide"><img src="../img/index/index_slide03_5.jpg" alt=""></div>
                <div class="swiper-slide"><img src="../img/index/index_slide03_6.jpg" alt=""></div>
                <div class="swiper-slide"><img src="../img/index/index_slide03_7.jpg" alt=""></div>
                <div class="swiper-slide"><img src="../img/index/index_slide03_8.jpg" alt=""></div>
            </div>
        </div>
    </main>
    <section id="about" data-content="sec02">
        <h1 class="title">ABOUT ME</h1>
        <div class="cont_intro">
            <div class="img_box">
                <img src="https://via.placeholder.com/500x610" alt="">
            </div>
            <div class="txt_box">
                <strong>"도전, 설렘, 성취"</strong>
                <p>
                    제가 코딩을 애정하는 이유,<br>
                    퍼블리셔라는 직업을 택한 이유입니다.
                </p>
                <strong>NAME</strong>
                <p>이연경</p>
                <strong>BIRTH</strong>
                <p>1996.04.04</p>
                <strong>LICENSE</strong>
                <p> 
                    -웹디자인기능사<br>
                    -GTQ 1급<br>
                    -한국세무사회 전산회계 2급
                </p>
                <strong>Work experience</strong>
                <p>
                    2018.06 - 2018.11  UI/UX엔지니어링 프론트앤드과정<br>
                    2018.12 - 2022.12  해커스교육그룹<br>
                    2023.01 - 재직중  게티이미지코리아<br>
                </p>
            </div>
        </div>
    </section>
    <section id="portfolio" data-content="sec03">
        <h1 class="title">PORTFOLIO</h1>
    </section>
    <section id="contact" data-content="sec04">
        <h1 class="title">CONTACT</h1>
    </section>
</body>
</html>
